@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

:root {
    /* Cores */
        /* Background */
        --b2: #001526;
        --b3: #052138;
    
        /* Text */
        --t1: #FFFCF6;
        --t2: #363636;
    
        /* Accent */
        --a1: #F7D353;
        --a2: #E5C03C;
    
        /* Shadow */
        --shadow: 0px 2px 10px -8px rgba(0, 0, 0, 0.2);

    /* Fontes */
        /* Title */
        --font-1: 'Poppins', Arial, Helvetica, sans-serif;

        /* Body */
        --font-2: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--b2);
    color: var(--t1);
    margin: 0px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--t1);
    font-weight: 500;
}

h1,
h2 {
    font-family: var(--font-1);
    margin: 0px 0px 5px 0px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

.ponto {
    color: var(--a1);
}

.botao {
    background-color: var(--a1);
    color: var(--b2);
    font-family: var(--font-2);
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.botao:hover {
    background-color: var(--a2);
}

.botao:visited {
    color: var(--b2);
}

.container {
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
}

.header a {
    font-family: var(--font-2);
    font-size: 1.2rem;
}

.navegacao a:hover {
    color: var(--t4);
}

.navegacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.navegacao ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 50px;
}

.navegacao img {
    width: 50px;
}

.introducao,
.sobre,
.projetos-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

.sobre {
    flex-wrap: wrap;
}

.introducao-img,
.sobre-img,
.projetos-item-img,
.showcase-img {
    max-width: 400px;
    max-height: 400px;
}

.introducao-img img,
.sobre-img img,
.projetos-item-img img,
.showcase-img img {
    width: 100%;
    border-radius: 10px;
}

.introducao-txt,
.sobre-txt, 
.projetos-item-txt {
    max-width: 500px;
}

.main p,
.header p {
    font-family: var(--font-2);
    font-size: 1.3rem;
    margin: 0px 0px 10px 0px;
}

.sobre-bg {
    background-color: var(--b3);
}

.showcase-container {
    max-width: 1300px;
    margin: auto;
    padding: 100px 20px;
}

.showcase-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.projetos {
    margin: auto;

    padding-top: 50px;
    padding-bottom: 50px;
}

.projetos-bg {
    background-color: var(--b3);
}

.projetos-item {
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-bg {
    background-color: var(--b3);
}

.footer-bg

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer ul {
    padding-left: 0px;
    list-style-position: inside;
}

.footer ul li {
    font-family: var(--font-2);
    font-size: 1.3rem;
}

.rodape {
    background-color: var(--b2);
    font-family: var(--font-2);
    color: var(--t4);
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}